@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hurricane&display=swap');

h1{
    font-family: 'Hurricane', cursive;
}

/*****************************************            MOVIL                        *********************************************/

body{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    width: 100%;
    background: url(../img/banner-home-desktop.jpg);
    background-size: cover;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

.menu-principal{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    flex-wrap: nowrap;
    color: white;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.87);
}

.navigation-menu ul{
    list-style: none;
    display: inline-block;

}

.navigation-menu ul li{
    margin-right: 0.5em;
    display: inline-block;
}

.navigation-menu a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.bloque-btn-nav {
    display: none;
}

/****************************                  MENU                  ******************************************/

.container-carta,
.container-menu-dia {
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.959);
    margin-top: 9em;
}

.container-menu-dia > h2{
    text-align: center;
    font-size: 2em;
    font-weight: 800;
    padding-top: 2em;
}

.menu-dia {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto auto auto auto;
}

.menu-dia h2{
    text-align: center;
    margin-bottom: 2em
}

.menu-dia ul{
    list-style: none;
}

.primeros {
    grid-column: 1;
    grid-row: 1;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.menu-dia ul{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.segundos {
    grid-column: 1;
    grid-row: 2;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

.postres-menu-dia {
    grid-column: 1;
    grid-row: 3;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: center;
}

.bebidas-menu-dia {
    grid-column: 1;
    grid-row: 4;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    text-align: center;
}

.precio-menu-dia {
    font-weight: 900;
    font-size: 3.5em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.precio-menu-dia span {
    font-size: 0.3em;
    font-weight: 400;
}

.detalle-iva{
    font-size: 0.9em;
    font-weight: 900;
    padding-bottom: 1em;
    padding-right: 1em;
    text-align: right;
}

.container-carta{
    margin-top: 3em;
    margin-bottom: 3em;
}

#carta {
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    box-sizing: border-box;
}

#carta li{
    border-top: 1px solid silver;
}

#carta h2 {
    text-align: center;
        font-size: 2em;
        font-weight: 800;
}

#carta li {
    list-style: none;
    line-height: 1.3em;
}

#carta li/*:not(.ultimo-plato) */{
    margin-bottom: 2em;
    margin-top: 2em;
}

#carta h3 {
    font-size: 120%;
}

#carta li h4 {
    font-size: 110%;
    font-weight: 900;
}

.precio {
    font-size: 120%;
    font-weight: 900;
}

summary {
    background-color: rgb(230, 230, 230);
    border-bottom: 1px solid rgb(73, 73, 73);
    padding: 1em;
    list-style: none;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2em;
}

details {
    position: relative;

}

details[open] summary~* {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -10px
    }

    100% {
        opacity: 1;
        margin-top: 0px
    }
}

details summary::before {
    position: absolute;
    content: url("../img/arrowUPbig.png");
    top: 5px;
    right: 20px;
    transition: .75s;
    transform: rotate(180deg);
}

details[open] summary::before {
    transform: rotate(0deg);
}




/****************************                  FOOTER                 ******************************************/

footer{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/pexels-valeria-boltneva-1833349.jpg);
    background-size: cover;
    bottom: 0;
    padding-top: 3em;
    padding-bottom: 1.5em;
    text-align: center;
}

footer ul{
    list-style: none;
    text-align: center;
}

footer ul li:not(.footer-last-link){
    padding-bottom: 1em;
}

footer a{
    text-decoration: none;
}

.footer-pages a{
    color: white;
}

#social-icons{
    margin-top: 3em;
    margin-bottom: 3em;
}

.fa-instagram, .fa-facebook-f, .fa-twitter{
    color: white;
    font-size: 2em;
}

.fa-instagram:hover, .fa-facebook-f:hover, .fa-twitter:hover{
    color: white;
    font-size: 2em;
    animation: bounce infinite 1s;
}

@keyframes bounce{
    0%{
        transform: translateY(0%);
    }

    25%{
        transform: translateY(-35%);
    }
}

.fa-instagram, .fa-facebook-f{
    margin-right: 1em;
}

.footer-contact-info{
    display: flex;
    flex-direction: column;
}

.footer-contact-info span:not(.last-footer-contact-info){
    margin-bottom: 1em;
}

.footer-contact-info, .footer-contact-info a{
    color: white;
    margin-bottom: 3em;
    font-size: 0.9em;
}

.footer-contact-info span:not(.last-footer-contact-info){
    margin-right: 2em;
}

.fa-map-marker-alt, .fa-phone, .fa-envelope{
    margin-right: 0.5em;
}

.footer-bottom{
    color: rgb(131, 131, 131);
    border-top: 1px solid rgb(46, 46, 46);
    padding-top: 1em;
    font-size: 0.9em;
    text-align: center;
}

.copyright{
    text-align: center;
}

.legal-pages{
    text-align: center;
    margin-top: 0.5em;
}

.legal-pages span a{
    padding-right: 1em;
    padding-left: 1em;
    color: rgb(161, 161, 161);
}

.legal-pages span:not(#last){
    border-right: 1px solid rgb(88, 88, 88);
}

.arrow-top{
    display: none;
}

.fa-cookie-bite{
    margin-right: 1em;
}

#cajacookies {
    display: none;
    box-shadow: 0px 0px 5px 5px #1b1b1b;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 2em;
    position: fixed;
    bottom: 0px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

#cajacookies a{
    color: white;
    font-weight: 900;
    text-decoration: none;
}

.btn-cerrar-cookies {
    padding:0.7em 1.6em;
    border-radius:2em;
    box-sizing: border-box;
    background: white;
    transition: all 0.2s;
    border: none;
    color: black;
    margin-right: 10em;
}

/*****************************************            TABLET                        *********************************************/

@media screen and (min-width: 550px) {
    body{
        font-family: Roboto;
        margin: 0;
        padding: 0;
        width: 100%;
        background: url(../img/banner-home-desktop.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .menu-principal{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        display: flex;
        flex-wrap: wrap;
        color: white;
        align-items: center;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.9);
    }
    
    .menu-principal h1{
        margin-left: 2em;
    }
    
    .navigation-menu ul{
        list-style: none;
        display: inline-block;
    }
    
    .navigation-menu ul li{
        margin-right: 4em;
        display: inline-block;
    }
    
    .navigation-menu a{
        text-decoration: none;
        color: white;
    }
    
    .btn-nav {
        padding:0.7em 1.6em;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        background: white;
        text-align:center;
        transition: all 0.2s;
        border: none;
        display: flex;
        margin-right: 4em;
    }
    
    .btn-nav a{
        text-decoration: none;
        color: black;
    }
    
    
    /****************************                  MENU                  ******************************************/
    
    .container-carta,
    .container-menu-dia {
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        background: rgba(255, 255, 255, 0.959);
        margin-top: 9em;
    }
    
    .container-menu-dia > h2{
        text-align: center;
        font-size: 3em;
        font-weight: 800;
        padding-top: 2em;
    }
    
    .menu-dia {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
    
    .menu-dia h2{
        text-align: center;
        margin-bottom: 2em
    }
    
    .menu-dia ul{
        list-style: none;
    }
    
    .primeros {
        grid-column: 1;
        grid-row: 1;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
    }
    
    .menu-dia ul{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .segundos {
        grid-column: 2;
        grid-row: 1;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
    }
    
    .postres-menu-dia {
        grid-column: 1;
        grid-row: 2;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        text-align: center;
        margin-top: 2em;
    }
    
    .bebidas-menu-dia {
        grid-column: 2;
        grid-row: 2;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        text-align: center;
        margin-top: 2em;
    }
    
    .precio-menu-dia {
        grid-column: 1 / 3;
        grid-row: 3;
        font-weight: 900;
        font-size: 3.5em;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
    
    .precio-menu-dia span {
        font-size: 0.3em;
        font-weight: 400;
    }
    
    .detalle-iva{
        font-size: 0.9em;
        font-weight: 900;
        padding-bottom: 1em;
        padding-right: 1em;
        text-align: right;
    }
    
    .container-carta{
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    #carta {
        display: block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 2em;
    }
    
    #carta li{
        border-top: 1px solid silver;
    }
    
    #carta h2 {
        text-align: center;
        font-size: 3em;
        font-weight: 800;
    }
    
    #carta li {
        list-style: none;
        line-height: 1.3em;
    }
    
    #carta li/*:not(.ultimo-plato) */{
        margin-bottom: 3em;
        margin-top: 3em;
    }
    
    #carta h3 {
        font-size: 120%;
    }
    
    #carta li h4 {
        font-size: 110%;
        font-weight: 900;
    }
    
    .descripcion-plato {
    
    }
    
    .precio {
        font-size: 120%;
        font-weight: 900;
    }
    
    summary {
        background-color: rgb(230, 230, 230);
        border-bottom: 1px solid rgb(73, 73, 73);
        padding: 1em;
        list-style: none;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 900;
        font-size: 1.2em;
    }
    
    details {
        position: relative;
    
    }
    
    details[open] summary~* {
        animation: sweep .5s ease-in-out;
    }
    
    @keyframes sweep {
        0% {
            opacity: 0;
            margin-top: -10px
        }
    
        100% {
            opacity: 1;
            margin-top: 0px
        }
    }
    
    details summary::before {
        position: absolute;
        content: url("../img/arrowUPbig.png");
        top: 5px;
        right: 20px;
        transition: .75s;
        transform: rotate(180deg);
    }
    
    details[open] summary::before {
        transform: rotate(0deg);
    }
    
    
    
    
    /****************************                  FOOTER                 ******************************************/
    
    footer{
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/pexels-valeria-boltneva-1833349.jpg);
        background-size: cover;
        bottom: 0;
        padding-top: 3em;
        padding-bottom: 1.5em;
        text-align: center;
    }
    
    footer ul{
        list-style: none;
    }
    
    footer ul li{
        display: inline;
    }
    
    footer ul li:not(.footer-last-link){
        margin-right: 2em;
    }
    
    footer a{
        text-decoration: none;
    }
    
    .footer-pages a{
        color: white;
    }
    
    #social-icons{
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    .fa-instagram, .fa-facebook-f, .fa-twitter{
        color: white;
        font-size: 2em;
    }
    
    .fa-instagram, .fa-facebook-f{
        margin-right: 1em;
    }
    
    .footer-contact-info, .footer-contact-info a{
        color: white;
        margin-bottom: 3em;
        font-size: 0.9em;
    }
    
    .footer-contact-info span:not(.last-footer-contact-info){
        margin-right: 2em;
    }
    
    .fa-map-marker-alt, .fa-phone, .fa-envelope{
        margin-right: 0.5em;
    }
    
    .footer-bottom{
        color: rgb(131, 131, 131);
        border-top: 1px solid rgb(46, 46, 46);
        padding-top: 1em;
        font-size: 0.9em;
        text-align: center;
    }
    
    .copyright{
        text-align: center;
    }
    
    .legal-pages{
        text-align: center;
        margin-top: 0.5em;
    }
    
    .legal-pages span a{
        padding-right: 1em;
        padding-left: 1em;
        color: rgb(161, 161, 161);
    }
    
    .legal-pages span:not(#last){
        border-right: 1px solid rgb(88, 88, 88);
    }
    
    .arrow-top{
        display: none;
    }
    
    .fa-cookie-bite{
        margin-right: 1em;
    }
    
    #cajacookies {
        display: none;
        box-shadow: 0px 0px 5px 5px #1b1b1b;
        background-color: rgba(0, 0, 0, 0.753);
        color: white;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 2em;
        position: fixed;
        bottom: 0px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    
    #cajacookies a{
        color: white;
        font-weight: 900;
        text-decoration: none;
    }
    
    .btn-cerrar-cookies {
        padding:0.7em 1.6em;
        border-radius:2em;
        box-sizing: border-box;
        background: white;
        transition: all 0.2s;
        border: none;
        color: black;
        margin-right: 10em;
    }
}

/*****************************************            ORDENADOR                        *********************************************/

@media screen and (min-width:1025px){
    body{
        font-family: Roboto;
        margin: 0;
        padding: 0;
        width: 100%;
        background: url(../img/banner-home-desktop.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .menu-principal{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 99;
        display: flex;
        flex-wrap: wrap;
        color: white;
        align-items: center;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.9);
    }
    
    .menu-principal h1{
        margin-left: 2em;
    }
    
    .navigation-menu ul{
        list-style: none;
        display: inline-block;
    }
    
    .navigation-menu ul li{
        margin-right: 4em;
        display: inline-block;
    }
    
    .navigation-menu a{
        text-decoration: none;
        color: white;
    }

    .bloque-btn-nav{
        display: inline;
    }
    
    .btn-nav {
        padding:0.7em 1.6em;
        margin:0 0.3em 0.3em 0;
        border-radius:2em;
        box-sizing: border-box;
        background: white;
        text-align:center;
        transition: all 0.2s;
        border: none;
        display: flex;
        margin-right: 4em;
    }
    
    .btn-nav a{
        text-decoration: none;
        color: black;
    }
    
    
    /****************************                  MENU                  ******************************************/
    
    .container-carta,
    .container-menu-dia {
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        background: rgba(255, 255, 255, 0.959);
        margin-top: 9em;
    }
    
    .container-menu-dia > h2{
        text-align: center;
        font-size: 3em;
        font-weight: 800;
        padding-top: 2em;
    }
    
    .menu-dia {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
    
    .menu-dia h2{
        text-align: center;
        margin-bottom: 2em
    }
    
    .menu-dia ul{
        list-style: none;
    }
    
    .primeros {
        grid-column: 1;
        grid-row: 1;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
    }
    
    .menu-dia ul{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .segundos {
        grid-column: 2;
        grid-row: 1;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
    }
    
    .postres-menu-dia {
        grid-column: 1;
        grid-row: 2;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        text-align: center;
        margin-top: 2em;
    }
    
    .bebidas-menu-dia {
        grid-column: 2;
        grid-row: 2;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        text-align: center;
        margin-top: 2em;
    }
    
    .precio-menu-dia {
        grid-column: 1 / 3;
        grid-row: 3;
        font-weight: 900;
        font-size: 3.5em;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
    
    .precio-menu-dia span {
        font-size: 0.3em;
        font-weight: 400;
    }
    
    .detalle-iva{
        font-size: 0.9em;
        font-weight: 900;
        padding-bottom: 1em;
        padding-right: 1em;
        text-align: right;
    }
    
    .container-carta{
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    #carta {
        display: block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 2em;
    }
    
    #carta li{
        border-top: 1px solid silver;
    }
    
    #carta h2 {
        text-align: center;
        font-size: 3em;
        font-weight: 800;
    }
    
    #carta li {
        list-style: none;
        line-height: 0.5em;
    }
    
    #carta li/*:not(.ultimo-plato) */{
        margin-bottom: 3em;
        margin-top: 3em;
    }
    
    #carta h3 {
        font-size: 120%;
    }
    
    #carta li h4 {
        font-size: 110%;
        font-weight: 900;
    }
    
    .descripcion-plato {
    
    }
    
    .precio {
        font-size: 120%;
        font-weight: 900;
    }
    
    summary {
        background-color: rgb(230, 230, 230);
        border-bottom: 1px solid rgb(73, 73, 73);
        padding: 1em;
        list-style: none;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 900;
        font-size: 1.2em;
    }
    
    details {
        position: relative;
    
    }
    
    details[open] summary~* {
        animation: sweep .5s ease-in-out;
    }
    
    @keyframes sweep {
        0% {
            opacity: 0;
            margin-top: -10px
        }
    
        100% {
            opacity: 1;
            margin-top: 0px
        }
    }
    
    details summary::before {
        position: absolute;
        content: url("../img/arrowUPbig.png");
        top: 5px;
        right: 20px;
        transition: .75s;
        transform: rotate(180deg);
    }
    
    details[open] summary::before {
        transform: rotate(0deg);
    }
    
    
    
    
    /****************************                  FOOTER                 ******************************************/
    
    footer{
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.95)), url(../img/pexels-valeria-boltneva-1833349.jpg);
        background-size: cover;
        bottom: 0;
        padding-top: 3em;
        padding-bottom: 1.5em;
        text-align: center;
    }
    
    footer ul{
        list-style: none;
    }
    
    footer ul li{
        display: inline;
    }
    
    footer ul li:not(.footer-last-link){
        margin-right: 2em;
    }
    
    footer a{
        text-decoration: none;
    }
    
    .footer-pages a{
        color: white;
    }
    
    #social-icons{
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    .fa-instagram, .fa-facebook-f, .fa-twitter{
        color: white;
        font-size: 2em;
    }
    
    .fa-instagram, .fa-facebook-f{
        margin-right: 1em;
    }
    
    .footer-contact-info{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .footer-contact-info, .footer-contact-info a{
        color: white;
        margin-bottom: 3em;
        font-size: 0.9em;
    }
    
    .footer-contact-info span:not(.last-footer-contact-info){
        margin-right: 2em;
    }
    
    .fa-map-marker-alt, .fa-phone, .fa-envelope{
        margin-right: 0.5em;
    }
    
    .footer-bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        color: rgb(131, 131, 131);
        border-top: 1px solid rgb(46, 46, 46);
        padding-top: 1em;
        font-size: 0.9em;
    }
    
    .copyright{
        margin-left: 2em;
    }
    
    .legal-pages{
        margin-right: 2em;
    }
    
    .legal-pages span a{
        padding-right: 1em;
        padding-left: 1em;
        color: rgb(161, 161, 161);
    }
    
    .legal-pages span:not(#last){
        border-right: 1px solid rgb(88, 88, 88);
    }
    
    .arrow-top{
        background: rgba(255, 255, 255, 0.527);
        position:fixed;
        right:30px;
        bottom:30px;
        border-radius: 100%;
        z-index: 99;
    }
    
    .fa-cookie-bite{
        margin-right: 1em;
    }
    
    #cajacookies {
        display: none;
        box-shadow: 0px 0px 5px 5px #1b1b1b;
        background-color: rgba(0, 0, 0, 0.753);
        color: white;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 2em;
        position: fixed;
        bottom: 0px;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    
    #cajacookies a{
        color: white;
        font-weight: 900;
        text-decoration: none;
    }
    
    .btn-cerrar-cookies {
        padding:0.7em 1.6em;
        border-radius:2em;
        box-sizing: border-box;
        background: white;
        transition: all 0.2s;
        border: none;
        color: black;
        margin-right: 10em;
    }
}

@media print {

    body{
        font-family: sans-serif;
        width: 100%;
        background: white;
        color: black;
    }
    
    .menu-principal{
        display: block;
        display: none !important;
    }
    
    /****************************                 MENU                  ******************************************/

    
    .title{
        text-align: center;
        color: white;
    }
    
    .container-carta,
    .container-menu-dia {
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        background: rgba(255, 255, 255, 0.959);
    }

    .container-menu-dia{
        margin-top: -3em !important;
    }
    
    .container-menu-dia > h2{
        text-align: center;
        font-size: 3em;
        font-weight: 800;
        padding-top: 2em;
    }
    
    .menu-dia {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(100px, auto);
    }
    
    .menu-dia h2{
        text-align: center;
        margin-bottom: 2em
    }
    
    .menu-dia ul{
        list-style: none;
    }
    
    .primeros {
        grid-column: 1;
        grid-row: 1;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
    }
    
    .menu-dia ul{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .segundos {
        grid-column: 2;
        grid-row: 1;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
    }
    
    .postres-menu-dia {
        grid-column: 1;
        grid-row: 2;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        text-align: center;
        margin-top: 2em;
    }
    
    .bebidas-menu-dia {
        grid-column: 2;
        grid-row: 2;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        text-align: center;
        margin-top: 2em;
    }
    
    .precio-menu-dia {
        grid-column: 1 / 3;
        grid-row: 3;
        font-weight: 900;
        font-size: 3.5em;
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1.5em;
    }
    
    .precio-menu-dia span {
        font-size: 0.3em;
        font-weight: 400;
    }
    
    .detalle-iva{
        font-size: 0.9em;
        font-weight: 900;
        padding-bottom: 1em;
        padding-right: 1em;
        text-align: right;
    }
    
    .container-carta{
        margin-top: 3em;
        margin-bottom: 3em;
    }
    
    #carta {
        display: block;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 2em;
    }
    
    #carta li{
        border-top: 1px solid silver;
    }
    
    #carta h2 {
        text-align: center;
        font-size: 3em;
        font-weight: 800;
    }
    
    #carta li {
        list-style: none;
        line-height: 0.5em;
    }
    
    #carta li/*:not(.ultimo-plato) */{
        margin-bottom: 3em;
        margin-top: 3em;
    }

    details[open = true]{
        display: block !important;
    }
    
    #carta h3 {
        font-size: 120%;
    }
    
    #carta li h4 {
        font-size: 110%;
        font-weight: 900;
    }
    
    .precio {
        font-size: 120%;
        font-weight: 900;
    }
    
    summary {
        background-color: rgb(230, 230, 230);
        border-bottom: 1px solid rgb(73, 73, 73);
        padding: 1em;
        list-style: none;
        margin-top: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: 900;
        font-size: 1.2em;
    }
    
    details {
        position: relative;
    
    }
    
    /****************************                  FOOTER                 ******************************************/
    
    footer{
        width: 100%;
        background:  white !important;
        text-align: center;
    }
    
    footer ul, #social-icons, .legal-pages, .arrow-top, #cajacookies{
        display: block;
        display: none !important;
    }
    
    .footer-contact-info{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .footer-contact-info, .footer-contact-info a{
        color: black;
        font-size: 0.9em;
    }
    
    .footer-contact-info span:not(.last-footer-contact-info){
        margin-right: 2em;
    }
    
    .fa-map-marker-alt, .fa-phone, .fa-envelope{
        margin-right: 0.5em;
    }
    
    .footer-bottom{
        color: black;
        border-top: 1px solid rgb(46, 46, 46);
        font-size: 0.9em;
    }
    
    .copyright{
        text-align: center;
    }

}